body{

}
section{
  margin: 0 auto;
  position: relative;
  width: 620px;
}
#buttons-container{
  border-radius: 75px;
  text-align: center;
  line-height: 120px;
  float: left;
  position: relative;
}

#buttons-container.blocked button{
  pointer-events: none;
}

button{
  border: 10px solid  #000;
  cursor: pointer;
  height: 300px;
  width: 300px;
  margin: -2px;
  outline: none;
  padding: 0px;
}

#red{
  background:rgba(254, 35, 34, .4);
  border-top-left-radius: 100%;
}
#red:hover{
  background: rgba(254, 35, 34, 1);
}

#blue{
  background: rgba(0, 103, 200, .4);
  border-top-right-radius: 100%;
}
#blue:hover{
  background: rgba(0, 103, 200, 1);
}

#green{
  background:rgba(35, 200, 82, .4);
  border-bottom-left-radius: 100%;
}
#green:hover{
  background:rgba(35, 200, 82, 1);
}

#yellow{
  background:rgba(243, 200, 82, .4);
  border-bottom-right-radius: 100%;
}
#yellow:hover{
  background:rgba(243, 200, 82, 1);
}

#counter{
  background: #000;
  border-radius: 50%;
  box-sizing: border-box;
  color: #fff;
  font-family: Arial;
  font-size: 100%;
  line-height: 200px;
  height: 200px;
  margin-top: -100px;
  margin-left: -108px;
  position: absolute;
  left: 50%;
  text-align: center;
  top: 50%;
  width: 200px;
}
